DOUBAO_SEEDREAM_MODEL=doubao-seedream-4-5
DOUBAO_SEEDREAM_API_URL=https://ark.cn-beijing.volces.com/api/v3/images/generations
DOUBAO_SEEDREAM_AUTH_SCHEME=Bearer
DOUBAO_SEEDREAM_API_KEY=your_api_key_here
